//============各种设定============
//layout
$layout-max-width = 1000px
$post-max-width = 800px

//color
$color-text-main = #333333
$color-text-secondary = #A8B2BA
$color-background = #ffffff
//=============全局设定============
html
  font-size 17px
  height 100%
  width: 100%
  color: $color-text-main
a
    text-decoration none
p
  letter-spacing: 0.05rem

//============login=================
.login-outer
  display: flex
  justify-content: center
.login-inner
  margin-top: 200px
  width: 350px
  padding: 30px
  height 200px
  border-radius: 10px
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 8px 8px


//============post=====================
.post-title
    font-size: 2.5rem
    font-weight: 1000
    text-align: center
    margin: 100px 0px
img 
    width auto
    max-width 100%
    margin 10px auto
    display block