//============各种设定============
//字体
@font-face {
  font-family: Gothic;
  src: url(https://cdn.jsdelivr.net/gh/fushaolei/cdn-white@1.0/font/GOTHIC.TTF);
}
//layout
$layout-max-width = 1000px
$post-max-width = 800px

//color
$color-text-main = #333333
$color-text-secondary = #A8B2BA
//=============全局设定============
html
  font-size 17px
a
    text-decoration none
//=============layout=============
.outer
    display flex
    justify-content center
.inner
    width $layout-max-width
    font-family: Gothic
//============header===============
.header
  display flex
  justify-content space-between
  line-height 5rem
  a
    color $color-text-secondary
    transition all .3s
    &:hover
      color $color-text-main
.logo
  font-size 1.7rem
.menu
  display flex
  div
    margin-left 25px

//===========index===============
.post-outer
    display: flex
    justify-content: center
.post-inner
    width: $post-max-width
    margin-top: 20px
.index-post-item
    margin-top: 30px
.index-post-name
    font-size: 1.5rem
//=============footer===============
.footer
  line-height 5rem
  color $color-text-secondary
  a
    color $color-text-secondary
    transition: all .3s
    &:hover
        color $color-text-main


